
.main-container {
    position: relative;
    color: white;
  }

h2 {
    /* create a box around h2 and fix it*/
    position: fixed;
    top: 45%;
    left: 10%;
    width: 80%;
    height: 30%;
    /* center the text */
    display: flex;
    justify-content: center;
    align-items: center;
    /* add a background color */
    background-color: rgb(56, 56, 56);
    border-radius: 50px;
    border-color: aliceblue;
    /* add a shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
  
  .main-container button {
    position: fixed;
    top: 200px; /* Adjust this value as needed */
    left: 45%; /* Adjust this value as needed */
  }  